Code/Sample/Sample.Components/SvcRefLib/Sample.Components.SvcRefLib.Core/Service References/Core/CoreService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sample.CrossCutting.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sample.CrossCutting.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResponseDTOstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseDTO{0}" Namespace="http://schemas.datacontract.org/2004/07/Sample.CrossCutting.DTO" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseDTO_x007B_0_x007D_">
        <xs:sequence>
          <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseDTOstring" nillable="true" type="tns:ResponseDTOstring" />
  <xs:complexType name="BaseResponseDTO_x007B_0_x007D_">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasError" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCompleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsErrorProcessed" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponseDTO_x007B_0_x007D_" nillable="true" type="tns:BaseResponseDTO_x007B_0_x007D_" />
</xs:schema>