Code/Sample/Sample.Components/SvcRefLib/Sample.Components.SvcRefLib.Core/Service References/Core/CoreService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8731/CoreService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sample.CrossCutting.DTO.Modules.Receiver" />
  <xs:import schemaLocation="http://localhost:8731/CoreService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Sample.CrossCutting.DTO" />
  <xs:element name="Echo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeywordPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sample.CrossCutting.DTO.Modules.Receiver" minOccurs="0" name="dto" nillable="true" type="q1:SearchDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeywordPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sample.CrossCutting.DTO" minOccurs="0" name="GetKeywordPositionResult" nillable="true" type="q2:ResponseDTOstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>