Code/Sample/Sample.Components/SvcRefLib/Sample.Components.SvcRefLib.Core/Service References/Core/CoreService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sample.CrossCutting.DTO.Modules.Receiver" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sample.CrossCutting.DTO.Modules.Receiver" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SearchDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Keyword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Range" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchDTO" nillable="true" type="tns:SearchDTO" />
</xs:schema>